<!--==========================
  Header
  ============================-->

<header id="header">

  <div [ngClass]="{openMobileNav: mobileMenuStatus==true}" (click)="mobileMenuActivate()" id="mySidenav"
    class="sidenav">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a (click)="changeRoute(0)" class="pointer">Home</a>
    <a (click)="changeRoute(1)" class="pointer">About Us</a>
    <a (click)="changeRoute(2)" class="pointer">Services</a>
    <a (click)="changeRoute(3)" class="pointer">Packages</a>
    <a (click)="changeRoute(4)" class="pointer">Contact Us</a>
  </div>

  <div class="container">
    <div class="logo float-left">
    <span class="chatNameHeading1">p</span> <span class="chatNameHeading2">Chat </span>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a (click)="changeRoute(0)" class="pointer">Home</a></li>
        <li><a (click)="changeRoute(1)" class="pointer">About Us</a></li>
        <li><a (click)="changeRoute(2)" class="pointer">Services</a></li>
        <li><a (click)="changeRoute(3)" class="pointer">Packages</a></li>
        
        <li><a (click)="changeRoute(4)" class="pointer">Contact Us</a></li>
      </ul>
    </nav><!-- .main-nav -->

  </div>

  <button type="button" (click)="mobileMenuActivate()" class="mobile-nav-toggle d-lg-none"><i
      class="fa fa-bars"></i></button>

</header><!-- #header -->