<!--==========================
    Intro Section
  ============================-->
<section id="customIntro" class="clearfix introCustomHeight">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center introCustomDsiplay">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 intro-info order-md-first order-last introCustomWidth">
        <h2>Package Buy Form</h2>
      </div>
    </div>
  </div>
</section><!-- #intro -->

<!--==========================
      Package Form
============================-->
<br>
<div class="container">
  <div class="card bg-info text-white">
    <div class="card-body">{{packageName}}</div>
  </div>

  <div class="card bg-light text-dark">
    <div class="card-body">
      <div class="row">
        <div class="col-10 col-sm-6 col-md-5 col-lg-5 col-xl-5">
          <img class="selectedPackageProps" src="../../assets/logos/dummyPackagePic.jpg">
          <strong class="packageNameProps">Package Price</strong>
        </div>

        <div class="form-row col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 flexReverse">
          <div (click)="changePackageAmount(1)" class="form-group amountPlus">
            <i class="fa fa-plus"></i>
          </div>
          <div class="form-group amountTextField">
            <input id="packageCount" type="text" [value]="packageCount" class="form-control">
          </div>
          <div (click)="changePackageAmount(-1)" class="form-group amountMinus">
            <i class="fa fa-minus"></i>
          </div>
        </div>

        <div class="mt-2"> </div>

        <div class="col-3 col-sm-2 col-md-3 col-lg-3 col-xl-3">
          <!-- <i class="fa fa-trash packageTrashIcon"></i> -->
          <Strong class="packagePrice">$ {{packageAmount}}</Strong>
        </div>

      </div>

      <div class="row">
        <div class="form-row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex-row-reverse">
          <strong class="licenseAmountText">$ {{licensePeriodAmount}}</strong>
          <select class="licenseDropdown form-control" id="license" (change)="changeLicensePeriod($event.target.value)">
            <option *ngFor="let lp of licensePeriod" [value]="lp"> {{lp}} </option>
          </select>
          <label for="license" class="licenseSupportText"> <strong>License Support</strong> </label>
        </div>
      </div>

      <div class="mt-5"></div>

      <div class="row">
        <div class="form-row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex-row-reverse">
          <strong>Total: $ {{totalAmount}}</strong>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- #Package form ends -->

<div class="mt-3"></div>

<!--==========================
      Payment Select Bar
============================-->

<div class="container">
  <div class="card bg-light text-dark">
    <div class="card-body">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <strong class="paymentSelectText">Pay with</strong>
        </div>

        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 paymentButtonsGroup">
          <button type="button" (click)="paymentTabStatus(0)" class="btn btn-primary paymentButtons crediCardButton">
            <i class="fa fa-credit-card"></i> Credit Card
          </button>

          <button type="button" (click)="paymentTabStatus(1)" class="btn btn-primary paymentButtons">
            <i class="fa fa-paypal"></i> PayPal
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3"></div>

<!--==========================
      CreditCard CardBox
============================-->
<div class="container" *ngIf="paymentTabNo == 0">
  <form [formGroup]="buyerDetailsForm" (ngSubmit)="submitDetails()">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card bg-light text-dark creditCardBoxWidth">
          <strong class="creditCardBoxText"> Billing Details </strong>
          <hr>
          <!-- ====================== TABS ======================================= -->
          <div class="container">
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item navBarTabs">
                <a class="nav-link pointer" (click)="billingTabStatus(1)"
                  [ngClass]="{personalTabActive: isPersonalTabActive == true}">
                  <i class="fa fa-user"></i>
                  Personal
                </a>
              </li>
              <li class="nav-item navBarTabs">
                <a class="nav-link pointer" (click)="billingTabStatus(2)"
                  [ngClass]="{companyTabActive: isCompanyTabActive == true}">
                  <i class="fa fa-building"></i>
                  Business
                </a>
              </li>
            </ul>
          </div>
          <!-- ====================== TABS End ======================================= -->
          <div class="mt-2"></div>

          <!-- ========================== Personal Tab ======================================= -->
          <div class="container">
            <div class="form-group">
              <input class="form-control" formControlName="email" type="email" id="email" placeholder="Email address*"
                #email>
              <p class="msgInvalidText" *ngIf="(buyerDetailsForm.get('email').dirty || buyerDetailsForm.get('email').touched) 
                      && (buyerDetailsForm.get('email').invalid || buyerDetailsForm.get('email').errors?.required)">
                enter a valid email
              </p>
            </div>

            <div class="form-group">
              <select class="form-control" id="country" formControlName="country"
                (change)="changeCountry($event.target.value)">
                <option *ngFor="let country of countriesList" [disabled]="country == 'Select Country'"
                  [hidden]="country == 'Select Country'" [value]="country">
                  {{country}}
                </option>
              </select>
              <p class="msgInvalidText"
                *ngIf="buyerDetailsForm.get('country').dirty || buyerDetailsForm.get('country').touched">
                <span *ngIf="invalidCountry">please select your country </span>
              </p>
            </div>

          </div>

          <!-- ========================== Business Tab ======================================= -->
          <div class="container" *ngIf="isCompanyTabActive">
            <div class="form-group">
              <input class="form-control" formControlName="address" type="text" id="address" placeholder="Your address*"
                #address>
              <p class="msgInvalidText"
                *ngIf="(buyerDetailsForm.get('address').dirty || buyerDetailsForm.get('address').touched) && (buyerDetailsForm.get('address').invalid || buyerDetailsForm.get('address').errors?.required)">
                enter a valid address
              </p>
            </div>

            <div class="form-group">
              <input class="form-control" formControlName="city" type="text" id="city" placeholder="City" #city>
            </div>

            <div class="form-group">
              <input class="form-control" formControlName="zip" type="text" id="zip" placeholder="Zip / Postal code"
                #postal>
            </div>

            <div class="form-group">
              <input class="form-control" formControlName="company" type="text" id="company" placeholder="Company*"
                #company>
              <p class="msgInvalidText"
                *ngIf="(buyerDetailsForm.get('company').dirty || buyerDetailsForm.get('company').touched) && (buyerDetailsForm.get('company').invalid || buyerDetailsForm.get('company').errors?.required)">
                enter your company name
              </p>
            </div>

            <div class="form-group">
              <input class="form-control" formControlName="phone" type="number" id="phone" placeholder="Phone" #phone>
            </div>
          </div>
        </div>
      </div>

      <!-- ========================== Card Details Box ======================================= -->
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card bg-light text-dark creditCardBoxWidth">
          <strong class="creditCardBoxText">Card Details </strong>
          <hr>

          <div class="container">
            <div class="form-group">
              <label for="cardName">Card Name</label>
              <div class="input-group">
                <input type="text" name="cardName" formControlName="cardName" placeholder="Name on card*"
                  class="form-control" #cardName>
              </div>
              <p class="msgInvalidText"
                *ngIf="(buyerDetailsForm.get('cardName').dirty || buyerDetailsForm.get('cardName').touched) && (buyerDetailsForm.get('cardName').invalid || buyerDetailsForm.get('cardName').errors?.required)">
                enter name mentioned on card
              </p>
            </div>
            <div class="form-group">
              <label for="cardNumber">Card number</label>
              <div class="input-group">
                <input type="number" name="cardNumber" (input)="validateCardNo()" formControlName="cardNumber"
                  placeholder="Your card number*" class="form-control" #cardNo>
                <div class="input-group-append">
                  <span class="input-group-text text-muted">
                    <i class="fa fa-cc-visa mx-1" (click)="changeCard(0)"
                      [ngClass]="{creditCardsColor: selectedCard == 0}"></i>
                    <i class="fa fa-cc-amex mx-1" (click)="changeCard(1)"
                      [ngClass]="{creditCardsColor: selectedCard == 1}"></i>
                    <i class="fa fa-cc-mastercard mx-1" (click)="changeCard(2)"
                      [ngClass]="{creditCardsColor: selectedCard == 2}"></i>
                  </span>
                </div>
              </div>
              <p class="msgInvalidText"
                *ngIf="(buyerDetailsForm.get('cardNumber').dirty || buyerDetailsForm.get('cardNumber').touched) && invalidCardNo">
                enter a valid card number
              </p>
            </div>
            <!-- Div FormGroup ends -->
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label><span class="hidden-xs">Expiration</span></label>
                  <div class="input-group input-box">
                    <div class="row">
                      <div class="col-sm-6">
                        <input formControlName="cardExpiryMonth" type="number" placeholder="MM" name=""
                          class="form-control removeNumberSpinner" (input)="validateCard(0)" #cardExpiryMonth>
                        <span
                          *ngIf="buyerDetailsForm.get('cardExpiryMonth').dirty || buyerDetailsForm.get('cardExpiryMonth').touched">
                          <span class="msgInvalidText" *ngIf="invalidCardMonth == 1">
                            invalid. Format: MM
                          </span>
                          <span class="msgInvalidText" *ngIf="invalidCardMonth == 2">
                            invalid month
                          </span>
                        </span>
                      </div>
                      <div class="col-sm-6">
                        <input type="number" formControlName="cardExpiryYear" (input)="validateCard(1)" placeholder="YY"
                          name="" class="form-control" #cardExpiryYear>
                        <span
                          *ngIf="buyerDetailsForm.get('cardExpiryYear').dirty || buyerDetailsForm.get('cardExpiryYear').touched">
                          <span class="msgInvalidText" *ngIf="invalidCardYear == 1">
                            invalid. Format: YY
                          </span>
                          <span class="msgInvalidText" *ngIf="invalidCardYear == 2">
                            invalid year
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group mb-4">
                  <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                    <i class="fa fa-question-circle"></i>
                  </label>
                  <input type="number" formControlName="cardCVV" class="form-control" (input)="validateCard(2)"
                    placeholder="CVV" #cardCVV>
                  <span class="msgInvalidText"
                    *ngIf="(buyerDetailsForm.get('cardCVV').dirty || buyerDetailsForm.get('cardCVV').touched) && invalidCardCVV">
                    invalid code
                  </span>
                </div>
              </div>
            </div>
            <!-- Div Row ends -->
          </div>
          <!-- Div container ends -->
          <div class="form-group form-inline justify-content-center">
            <input class="form-control btn btn-success buttonWidth" [disabled]="!buyerDetailsForm.valid" type="button"
              value="Submit">
          </div>
          <div class="mt-3"></div>
        </div>
      </div>
      <!-- Card details box ends -->
    </div>
  </form>
</div>

<!--==========================
      PayPal Box
============================-->
<div class="container" *ngIf="paymentTabNo == 1">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card bg-light text-dark creditCardBoxWidth">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>
  </div>
</div>

<div class="mt-3"></div>