<!--==========================
    Intro Section
  ============================-->
<section id="customIntro" class="clearfix introCustomHeight">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center introCustomDsiplay">
      <div class="col-md-6 intro-info order-md-first order-last introCustomWidth">
        <h2>Privacy Policy</h2>
      </div>
      <!-- <div class="col-md-6 intro-img order-md-last order-first">
        <img src="../../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div> -->
    </div>

  </div>
</section><!-- #intro -->

<!--==========================
    Privacy Policy
  ============================-->
<section id="privacy-policy">
  <div class="container d-flex h-100">
    <main id="main" class="justifyText">
      <p>
        <strong>Privacy Policy for  </strong>
        At , accessible from .com one of our main priorities is the privacy of our visitors. This Privacy
        Policy document contains types of information that is collected and recorded by  and how we use it.

        If you have additional questions or require more information about our Privacy Policy, do not hesitate to
        contact us through email at
      </p>
      <br>
      <p>
        <strong>Log Files</strong>
         follows a standard procedure of using log files. These files log visitors when they visit websites. All
        hosting companies do this and a part of hosting services' analytics. The information collected by log files
        include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp,
        referring/exit pages, and possibly the number of clicks. These are not linked to any information that is
        personally identifiable. The purpose of the information is for analyzing trends, administering the site,
        tracking users' movement on the website, and gathering demographic information.
      </p>
      <br>
      <p>
        <strong>Google DoubleClick DART Cookie</strong>
        Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to
        our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors
        may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at
        the following URL – https://policies.google.com/technologies/ads
      </p>
      <br>
      <p>
        <strong>Privacy Policies</strong>
        You may consult this list to find the Privacy Policy for each of the advertising partners of . Our Privacy
        Policy was created with the help of the Privacy Policy Generator and the Generate Privacy Policy Generator.

        Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used
        in their respective advertisements and links that appear on , which are sent directly to users' browser.
        They automatically receive your IP address when this occurs. These technologies are used to measure the
        effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on
        websites that you visit.
        <br>
        <b>Note</b> that  has no access to or control over these cookies that are used by third-party advertisers.
      </p>
      <br>
      <p>
        <strong>Third Party Privacy Policies</strong>
        's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the
        respective Privacy Policies of these third-party ad servers for more detailed information. It may include their
        practices and instructions about how to opt-out of certain options. You may find a complete list of these
        Privacy Policies and their links here: Privacy Policy Links.

        You can choose to disable cookies through your individual browser options. To know more detailed information
        about cookie management with specific web browsers, it can be found at the browsers' respective websites. What
        Are Cookies?
      </p>
      <br>
      <p>
        <strong>Children's Information</strong>
        Another part of our priority is adding protection for children while using the internet. We encourage parents
        and guardians to observe, participate in, and/or monitor and guide their online activity.

         does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you
        think that your child provided this kind of information on our website, we strongly encourage you to contact us
        immediately and we will do our best efforts to promptly remove such information from our records.
      </p>
      <br>
      <p>
        <strong>Online Privacy Policy Only</strong>
        This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards
        to the information that they shared and/or collect in . This policy is not applicable to any information
        collected offline or via channels other than this website.
      </p>
      <br>
      <p>
        <strong>Consent</strong>
        By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.
      </p>

    </main>
  </div>
</section>