
<!--==========================
    Title Text Section
  ============================-->
  <section id="title" class="clearfix homeTitleImage">
    <div class="container">
        
    </div>
  </section>


<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix homeTitleImage">

  <div class="container h-100">
    <div class="row title-row">
      <div class="col-md-12 title-info">
        <h2 class="titleStartText text-center">Quick Integration of<span> Chat </span></h2>
      </div>
    </div>
  </div>
  <div class="container d-flex h-100 img-container">    
    <div class="row justify-content-center align-self-center">
      <div class="col-md-12 intro-img order-md-last order-first">
        <img src="./assets/home-page.png" alt="" class="img-fluid">
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">
  <!--==========================
      About Us Section
    ============================-->
  <section id="about">

    <div class="container">
      <div class="row main-row">

        <div class="col-lg-6 col-md-6">
          <div class="about-content">
            <h2>Feature Packed</h2>
            <p>Our website chat software is featured packed!</p>
            <p> is packed full of features ranging from video chat script to a complete moderation system. In addition, we provide regular updates to the node and angular chat software to include even more.</p>
            
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="about-img">
            <a href="javascript:void(0);" class="outline-button feature-buttons2">Chat Rooms</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons">Themes</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons">Notifications</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons2">Mobile Chat</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons">Automatic Login</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons">Video Chat</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons">Audio Chat</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons2">Send Files</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons2">Broadcasting</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons2">Update Message</a>
            <a href="javascript:void(0);" class="outline-button feature-buttons">Delete Message</a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #about -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services" class="section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="service-img">
            <img src="./assets/img/chat_img.png">
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="about-content">
            <h2>Endless Possibilities</h2>
            <p>You can setup things the way you want.</p>
            <p>Don't need jquery chat rooms? Want it to look like facebook chat? No problem. Nearly everything is customized in our  you can broadcast from our chat, you can also create groups and communicate with different in tha same platform.</p>
          </div>
        </div>
      </div>
      
    </div>
  </section><!-- #services -->

  <!--==========================
      Why Us Section
    ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container">

      <div class="block-wrapper alt-bg2" style="margin-bottom:0">
        <div class="row block-inner">
          <div class="col-md-4 text-center highlyScalableCustom">
            <div class="col3-image scalable scalableImage_ImgResize">
              &nbsp;
            </div>
            <h4>Highly Scalable</h4>
            <p> adds minimal load on your server and is built-to-scale. It will even work on your shared server too.</p>
          </div>
          <div class="col-md-4 text-center fullIntegrationCustom">
            <div class="col3-image full-integration fullIntegration_ImgResize">
              &nbsp;
            </div>
            <h4>Full Integration</h4>
            <p>Our live chat software will automatically integrate with your site's database and grab usernames, avatars, and more.</p>
          </div>
          <div class="col-md-4 text-center">
            <div class="col3-image compatible">
              &nbsp;
            </div>
            <h4>Compatible With Everything</h4>
            <p> works on all modern browsers and mobile devices including IE 9+, Firefox 1.5+, Safari, Opera 9+, and Chrome.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </section>

  <!--==========================
      Pricing Section
    ============================-->
  <section id="pricing" class="wow fadeInUp section-bg">

    <div class="container">

      <header class="section-header">
        <h3>Pricing</h3>
        <p>We provide three different packages plan to our customer</p>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Basic Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>45<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Basic Plan
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Private Chat</li>
                <li class="list-group-item">File transfer</li>
                <li class="list-group-item">Mobile Responsive</li>
                <br>
                <li class="list-group-item"><strong>12 months of software updates</strong></li>
                <li class="list-group-item"><strong>30 days of technical support</strong></li>
              </ul>
              <a routerLink="/packageForm" [queryParams]="{packageInfo: packagePlane1}" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Regular Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>120<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Premium Plan
              </h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>All Basic plan features, plus</strong></li>
                <li class="list-group-item">No '' branding</li>
                <li class="list-group-item">Audio chat functionality</li>
                <br>
                <li class="list-group-item"><strong>12 months of software updates</strong></li>
                <li class="list-group-item"><strong>45 days of technical support</strong></li>
              </ul>
              <a routerLink="/packageForm" [queryParams]="{packageInfo: packagePlane2}" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Premium Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>280<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Business Plan
              </h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>All Premium plan features, plus</strong></li>
                <li class="list-group-item">Full SSL support</li>
                <li class="list-group-item">Video Chat functionality</li>
                <li class="list-group-item">Broadcast and chat functionality</li>
                <li class="list-group-item">Push Notifications</li>
                <br>
                <li class="list-group-item"><strong>Unlimited software updates</strong></li>
                <li class="list-group-item"><strong>1 year of technical support</strong></li>
              </ul>
              <a routerLink="/packageForm" [queryParams]="{packageInfo: packagePlane3}" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section><!-- #pricing -->

  <!--==========================
      Clients Section
    ============================-->
  <section id="testimonials">
    <div class="container">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">

          <owl-carousel-o [options]="customTestimonialOptions">
            <ng-template carouselSlide>
              <div class="testimonial-item">
                <!-- <img src="../../assets/img/testimonial-1.jpg" class="testimonial-img" alt=""> -->
                <h3>heioten87</h3>
                <p>
                  Was excellent with the fast response and delivering it within a timely manner
                </p>
              </div>
            </ng-template>

            <ng-template carouselSlide>
              <div class="testimonial-item">
                <!-- <img src="../../assets/img/testimonial-2.jpg" class="testimonial-img" alt=""> -->
                <h3>Philips</h3>
                <p>
                  Quality of life is tough, but   has a great brand <br>
                  and is a premier   with a great history. You get as much responsibility as you can
                  handle.
                </p>
              </div>
            </ng-template>

            <ng-template carouselSlide>
              <div class="testimonial-item">
                <!-- <img src="../../assets/img/testimonial-3.jpg" class="testimonial-img" alt=""> -->
                <h3>JPaul</h3>
                <!-- <h4>Store Owner</h4> -->
                <p>
                    team did an excellent job. It was a complicated project and they did it well. I
                  look forward to continue working with them.
                </p>
              </div>
            </ng-template>

          </owl-carousel-o>

        </div>
      </div>

    </div>
  </section><!-- #testimonials -->

  <!--==========================
      Clients Section
    ============================-->
  <!-- <section id="clients" class="wow fadeInUp">
    <div class="container">

      <header class="section-header">
        <h3>Our Clients</h3>
      </header>

      <owl-carousel-o [options]="customClientOptions">
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-1.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-2.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-3.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-4.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-5.png" alt=""></ng-template>
      </owl-carousel-o>

    </div>
  </section> -->
  <!-- #clients -->
  <!--==========================
      Frequently Asked Questions Section
    ============================-->
  <section id="faq">
    <div class="container">
      <header class="section-header">
        <h3>Frequently Asked Questions</h3>
        <p>Some questions that clients frequently asked has already been added below</p>
      </header>

      <ul id="faq-list" class="wow fadeInUp">
        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">Does this app has a builtin chat system? <i
              class="ion-android-remove"></i></a>
          <div id="faq1" class="collapse" data-parent="#faq-list">
            <p>
              Yes, our app has fully integrated chat system
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">Does this app has audio and video chat
            functionality?<i class="ion-android-remove"></i></a>
          <div id="faq2" class="collapse" data-parent="#faq-list">
            <p>
              Yes, audio video chat has been intergrated in chat system.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">What if I want to broadcast my video and want
            comments on it? <i class="ion-android-remove"></i></a>
          <div id="faq3" class="collapse" data-parent="#faq-list">
            <p>
              You have to buy our Business plan package and use broadcast future with fully integrated chat system in
              it.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed"> If I want to integrate this chat app in my website?
            <i class="ion-android-remove"></i></a>
          <div id="faq4" class="collapse" data-parent="#faq-list">
            <p>
              Yes, we provide functionality to integrate our chat app in any other website
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq5" class="collapsed">Is it Mobile Responsive? <i
              class="ion-android-remove"></i></a>
          <div id="faq5" class="collapse" data-parent="#faq-list">
            <p>
              Yes, it is fully compatible with mobile devices
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq6" class="collapsed">Does this app contains group chat? <i
              class="ion-android-remove"></i></a>
          <div id="faq6" class="collapse" data-parent="#faq-list">
            <p>
              Yes, our app provides group chat feature too
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- #faq -->
</main>

<a *ngIf="moveUpBtnStatus" (click)="scrollToIntro()" class="RightCornerFix pointer">
  <i class="fa fa-chevron-up whiteColor"></i>
</a>